body {
  margin: 0;
  background-color: #70A9A1;
  text-align: center;
  color: #CFE0C3;
}

  /*styling for the top bar*/
.topnav {
  overflow: hidden;
  background-color: #1F363D;
}

/*styling for the top bar*/
.topnav a {
  float: center;
  padding: 0.5px 0px;
  text-decoration: none;
  font-size: 17px;
}

.logo {
  width: 300px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rest1 {
  width: 95%;
  text-align: center;
  height: auto;
}

img {
  width: 100%;
  height: auto;
  padding-bottom: 0px;
}

.welcome {
  padding-top: 0px;
  text-align: center;
}

.welcomesign {
  height: auto;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 10px;
}

